* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
}

.new-game {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  cursor: pointer;
}

.players {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  height: 5vh;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: start;
  width: 75vw;
  height: 15vh;
}
.container__score {
  font-size: 6rem;
  color: #eb4d4c;
}
.container__dice {
  width: 7em;
  height: 7em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.container__dice__dot {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
.container__dice__dot-one {
  grid-column: 1;
  grid-row: 1;
}
.container__dice__dot-two {
  grid-column: 3;
  grid-row: 1;
}
.container__dice__dot-three {
  grid-column: 1;
  grid-row: 2;
}
.container__dice__dot-four {
  grid-column: 3;
  grid-row: 2;
}
.container__dice__dot-five {
  grid-column: 1;
  grid-row: 3;
}
.container__dice__dot-six {
  grid-column: 3;
  grid-row: 3;
}
.container__dice__dot-seven {
  grid-column: 2;
  grid-row: 2;
}

.red-ball {
  display: block;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  background-color: #eb4d4c;
}

.current {
  display: flex;
  justify-content: space-around;
  width: 75vw;
}
.current__score {
  background-color: #eb4d4c;
  width: 10%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
}
.current__score-player {
  color: aliceblue;
  font-size: 2rem;
}
.current__group-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
}

.hide-player0 {
  position: absolute;
  top: 0;
  left: 57vw;
  height: 100vh;
  width: 43vw;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-in-out;
}

.hide-player1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 43vw;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-in-out;
}

.opacity-change {
  opacity: 0.2;
  transition: all 0.5s ease-in-out;
}

.container__current-dice {
  height: 35vh;
}

.current-dice {
  height: 6vh;
  width: 6vh;
  font-size: 3em;
  font-weight: 600;
  color: white;
  background-color: #eb4d4c;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pointer {
  cursor: pointer;
}

.pop-up {
  position: absolute;
  left: 28vw;
  top: 25vh;
  height: 40vh;
  width: 45vw;
  background-color: gray;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  color: aliceblue;
  text-transform: lowercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1em;
  visibility: visible;
}
.pop-up-h3 {
  text-transform: uppercase;
  padding: 1em;
}
.pop-up-button {
  padding: 1em;
  margin: 1em;
  border: none;
  background-color: #eb4d4c;
  color: aliceblue;
  cursor: pointer;
}
.pop-up-button:hover {
  background-color: #f07b7a;
}

@media screen and (max-width: 400px) {
  body {
    font-size: 0.8em;
  }
  .players, .container {
    justify-content: space-between;
  }
  .players {
    width: 90%;
    font-size: 0.8em;
  }
  .container {
    width: 70%;
  }
  .container__score {
    font-size: 4rem;
  }
  .current {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .current__score {
    width: 50vw;
  }
  .current__group-button {
    height: 10vh;
    margin: 2em;
  }
  .container__current-dice {
    height: 15vh;
  }
  .hide-player0, .hide-player1 {
    top: 18vh;
    height: 20vh;
    width: 38vw;
  }
  .hide-player0 {
    left: 62vw;
  }
  .pop-up {
    height: 90vh;
    width: 90vw;
    top: 0;
    left: 2vw;
  }
}
@media screen and (max-width: 1200px) {
  .current__score {
    width: 20vw;
  }
}/*# sourceMappingURL=style.css.map */